python-test-samples/step-functions-local-lambda/statemachine/local_testing.asl.json
{
  "Comment": "This state machine is called: MathOperationsStateMachine",
  "StartAt": "Lambda Sum State",
  "States": {
    "Lambda Sum State": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:123456789012:function:StepFunctionExampleSumLambda",
        "Payload.$": "$"
      },
      "InputPath": "$",
      "OutputPath": "$.Payload",
      "Next": "Wait State"
    },
    "Wait State": {
      "Type": "Wait",
      "Seconds": 3,
      "Next": "Lambda Square State"
    },
    "Lambda Square State": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:123456789012:function:StepFunctionExampleSquareLambda",
        "Payload.$": "$"
      },
      "InputPath": "$.Payload",
      "OutputPath": "$.Payload",
      "End": true
    }
  },
  "TimeoutSeconds": 300
}
